html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Optional: removes default scrollbars */
}

.background-image {
    background-image: url('../assets/miner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw; /*  100% of the viewport width*/
    height: 100vh; /*  100% of the viewport height*/
    position: relative;
}

.background-dim {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .4); /* Black with 40% opacity */
    width: 100%;
    height: 100%;
}

.child {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.video {
    height: 100%;
    width: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: opacity .5s;
}